<section class="elementor-section elementor-top-section elementor-element elementor-element-c4946a7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c4946a7" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-683b10c" data-id="683b10c" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-5f44ec5 elementor-widget elementor-widget-buildbench-title" data-id="5f44ec5" data-element_type="widget" data-widget_type="buildbench-title.default">
<div class="elementor-widget-container">
 <div class="section-heading-content">
<h2 class="section-title">
<span class="sub-title">Our Works</span>
Latest Projects                             </h2>
</div><!-- Section title -->		


</div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-ef59193 elementor-section-boxed elementor-section-height-default elementor-section-height-default animated fadeInUp" data-id="ef59193" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fdc9bca animated fadeInUp" data-id="fdc9bca" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-78603ad elementor-widget elementor-widget-buildbench-project" data-id="78603ad" data-element_type="widget" data-widget_type="buildbench-project.default">
<div class="elementor-widget-container">
        <div class="container">
<div class="row">
<div class="col-lg-12">
                       <div class="recent-folio-menu">
       <ul>
                                                                               <li class="filter active" data-filter="all"> All Projects </li>
                                           
                                                                               <li class="filter" data-filter=".bridge">Bridge</li>
                                           
                                                                               <li class="filter" data-filter=".building">Building</li>
                                           
                                                                               <li class="filter" data-filter=".home">Home</li>
                                           
                                                                               <li class="filter" data-filter=".minning">Minning</li>
                                           
                                     </ul>
    </div>
                </div>
</div><!-- row end-->
<div class="row ts-mix-projects mixcontent" id="mixcontent">

                   <div class="col-lg-3 mix col-sm-6 ts-mb-10 minning " style="display: inline-block;" data-bound="">
 <a href="https://demo.themewinter.com/wp/buildbench/blog/project/oxford-science-lab-building-6-7/">
    <div class="single-recent-work">
        <img class="img-fluid" src="/assets/project_img_2.jpeg" alt="Oxford Science Lab Building">
        <div class="recet-work-footer">
            <i class="icon-Our_service_3"></i>
            <h4 class="ts-project-el-title"> Oxford Science Lab Building 
                <span class="ts-project-el-zone">New Jursey,NY</span>
            </h4>
            
        </div>
                                        <div class="btn-wrap">
                <span class="link-more"><i class="fa fa-arrow-right"></i></span>
            </div>
                                </div>
 </a>
</div>

                   <div class="col-lg-3 mix col-sm-6 ts-mb-10 building " style="display: inline-block;" data-bound="">
 <a href="https://demo.themewinter.com/wp/buildbench/blog/project/oxford-science-lab-building-6-6/">
    <div class="single-recent-work">
        <img class="img-fluid" src="/assets/project_img_6.jpeg" alt="Oxford Science Lab Building">
        <div class="recet-work-footer">
            <i class="icon-Our_service_3"></i>
            <h4 class="ts-project-el-title"> Oxford Science Lab Building 
                <span class="ts-project-el-zone">New Jursey,NY</span>
            </h4>
            
        </div>
                                        <div class="btn-wrap">
                <span class="link-more"><i class="fa fa-arrow-right"></i></span>
            </div>
                                </div>
 </a>
</div>

                   <div class="col-lg-3 mix col-sm-6 ts-mb-10 bridge home " style="display: inline-block;" data-bound="">
 <a href="https://demo.themewinter.com/wp/buildbench/blog/project/oxford-science-lab-building-6-5/">
    <div class="single-recent-work">
        <img class="img-fluid" src="/assets/project_img_8.jpeg" alt="Demra Science Lab Building">
        <div class="recet-work-footer">
            <i class="icon-Our_service_3"></i>
            <h4 class="ts-project-el-title"> Demra Science Lab Building 
                <span class="ts-project-el-zone">New Jursey,NY</span>
            </h4>
            
        </div>
                                        <div class="btn-wrap">
                <span class="link-more"><i class="fa fa-arrow-right"></i></span>
            </div>
                                </div>
 </a>
</div>

                   <div class="col-lg-3 mix col-sm-6 ts-mb-10 home " style="display: inline-block;" data-bound="">
 <a href="https://demo.themewinter.com/wp/buildbench/blog/project/oxford-science-lab-building-6-4/">
    <div class="single-recent-work">
        <img class="img-fluid" src="/assets/project_img_5.jpeg" alt="Kelly Science Lab Building">
        <div class="recet-work-footer">
            <i class="icon-Our_service_3"></i>
            <h4 class="ts-project-el-title"> Kelly Science Lab Building 
                <span class="ts-project-el-zone">New Jursey,NY</span>
            </h4>
            
        </div>
                                        <div class="btn-wrap">
                <span class="link-more"><i class="fa fa-arrow-right"></i></span>
            </div>
                                </div>
 </a>
</div>

                   <div class="col-lg-3 mix col-sm-6 ts-mb-10 bridge building home minning " style="display: inline-block;" data-bound="">
 <a href="https://demo.themewinter.com/wp/buildbench/blog/project/oxford-science-lab-building-6-3/">
    <div class="single-recent-work">
        <img class="img-fluid" src="/assets/project_img_4.jpeg" alt="Orna Science Lab Building">
        <div class="recet-work-footer">
            <i class="icon-Our_service_3"></i>
            <h4 class="ts-project-el-title"> Orna Science Lab Building 
                <span class="ts-project-el-zone">New Jursey,NY</span>
            </h4>
            
        </div>
                                        <div class="btn-wrap">
                <span class="link-more"><i class="fa fa-arrow-right"></i></span>
            </div>
                                </div>
 </a>
</div>

                   <div class="col-lg-3 mix col-sm-6 ts-mb-10 bridge home minning " style="display: inline-block;" data-bound="">
 <a href="https://demo.themewinter.com/wp/buildbench/blog/project/oxford-science-lab-building-6-2/">
    <div class="single-recent-work">
        <img class="img-fluid" src="/assets/project_img_3.jpeg" alt="Dimla Science Lab Building">
        <div class="recet-work-footer">
            <i class="icon-Our_service_3"></i>
            <h4 class="ts-project-el-title"> Dimla Science Lab Building 
                <span class="ts-project-el-zone">New Jursey,NY</span>
            </h4>
            
        </div>
                                        <div class="btn-wrap">
                <span class="link-more"><i class="fa fa-arrow-right"></i></span>
            </div>
                                </div>
 </a>
</div>

                   <div class="col-lg-3 mix col-sm-6 ts-mb-10 building home " style="display: inline-block;" data-bound="">
 <a href="https://demo.themewinter.com/wp/buildbench/blog/project/oxford-science-lab-building-6/">
    <div class="single-recent-work">
        <img class="img-fluid" src="/assets/project_img_7.jpeg" alt="Oxford Science Lab Building">
        <div class="recet-work-footer">
            <i class="icon-Our_service_3"></i>
            <h4 class="ts-project-el-title"> Oxford Science Lab Building 
                <span class="ts-project-el-zone">New Jursey,NY</span>
            </h4>
            
        </div>
                                        <div class="btn-wrap">
                <span class="link-more"><i class="fa fa-arrow-right"></i></span>
            </div>
                                </div>
 </a>
</div>

                   <div class="col-lg-3 mix col-sm-6 ts-mb-10 building home minning " style="display: inline-block;" data-bound="">
 <a href="https://demo.themewinter.com/wp/buildbench/blog/project/oxford-science-lab-building-6-8/">
    <div class="single-recent-work">
        <img class="img-fluid" src="/assets/project_img_1.jpeg" alt="Oxford Science Lab Building">
        <div class="recet-work-footer">
            <i class="icon-Our_service_3"></i>
            <h4 class="ts-project-el-title"> Oxford Science Lab Building 
                <span class="ts-project-el-zone">New Jursey,NY</span>
            </h4>
            
        </div>
                                        <div class="btn-wrap">
                <span class="link-more"><i class="fa fa-arrow-right"></i></span>
            </div>
                                </div>
 </a>
</div>
             </div><!-- row end-->
</div><!-- .container end -->




</div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>