<app-head></app-head>
<app-header></app-header>
<div class="home page-template page-template-template page-template-homepage-template page-template-templatehomepage-template-php page page-id-10 sidebar-active elementor-default elementor-kit-2411 elementor-page elementor-page-10 e--ua-firefox" data-elementor-device-mode="desktop">
    <div class="body-innner-content ">
        <div data-elementor-type="wp-post" data-elementor-id="10" class="elementor elementor-10" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <app-addeventslider></app-addeventslider>
                    <form action='' class='form' (ngSubmit)="AddEvent()">
                        <p class='field required'>
                          <label class='label required' for='name'>Event Title</label>
                          <input class='text-input' id='name' name='name' required type='text' [(ngModel)]="event.title">
                        </p>
                       
                        <p class='field required half'>
                          <label class='label' for='email'>Starting Date</label>
                          <input class='text-input' id='email' name='email' required type='date' [(ngModel)]="event.dateStart">
                        </p>
                        <p class='field half'>
                          <label class='label' for='phone'>Ending Date</label>
                          <input class='text-input' id='phone' name='phone' type='date'  [(ngModel)]="event.dateEnd">
                        </p>
                        <p class='field half required'>
                          <label class='label' for='login'>Event Points</label>
                          <input class='text-input' id='login' name='login' required type='number' [(ngModel)]="event.eventpoints">
                        </p>
                        <p class='field half required'>
                          <label class='label' for='password'>Avariable Places </label>
                          <input class='text-input' id='password' name='password' required type='number'[(ngModel)]="event.npDisponible">
                        </p>
                        <p class='field required'>
                          <label class='label'>Event Images</label>
                          <input class='text-input' id='eventimages' name='eventimages' required type='file' [(ngModel)]="event.coverimage" multiple="multiple">
                        </p>
                        <div class='field'>
                          <label class='label'>Event Type?</label>
                          <ul class='checkboxes'>
                            <li class='checkbox'  *ngFor="let x of listeventtype"(click)="Type(x)" name="x" id="x" [ngClass]="{'green' : Typetoggle, 'red': !Typetoggle}">
                              <input class='checkbox-input' type='checkbox' >
                              <label class='checkbox-label'>{{x}}</label>
                            </li>
                          </ul>
                        </div>
                        <div class='field'>
                          <label class='label'>Event Tag</label>
                          <ul class='options' >
                            <li class='option' *ngFor="let x of listeventtags" (click)="Tag(x)" name="x" id="x" [ngClass]="{'green' : Tagtoggle, 'red': !Tagtoggle}">
                              <input class='option-input' name='option' type='radio'>
                              <label class='option-label' >{{x}}</label>
                            </li>
                           
                          </ul>
                        </div>
                        <p class='field half'>
                            <label class='label' for='select'>Event Has a Trouphy Reward ?</label>
                            <select class='select' id='select' >
                              <option value='1' (click)="Yes()">Yes</option>
                              <option value='0' (click)="No()">No</option>
                            </select>
                          </p>
                        <p class='field'>
                          <label class='label' for='about'>Event Description</label>
                          <textarea class='textarea' cols='50' id='about' name='description' rows='4' [(ngModel)]="event.description"></textarea>
                        </p>
                        
                        <p class='field half'>
                          <input class='button' type='submit' value='Add Event' style="background-color: #1fb79b;">
                        </p>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<app-scripts></app-scripts>