<footer id="ts-footer" class="ts-footer">
    <div class="container">
       <div class="row">
          <div class="col-md-6 col-lg-4">
             <div class="footer-left-widget"><img src="/assets/Logo.png" class="image wp-image-220  attachment-full size-full" alt="" loading="lazy" style="max-width: 100%; height: auto;" width="150" height="42"></div><div class="footer-left-widget">			<div class="textwidget"><h3>Head Office</h3>
<ul>
<li>1010 Avenue, NY, USA</li>
<li>Tel :&nbsp;<span>009-215-5596</span></li>
<li>Email :&nbsp;<span>info@example.com</span></li>
</ul>
<h3>Business Hour</h3>
<p>Monday To Friday 07.00 – 16.00</p>
</div>
   </div>               </div>
          <!-- End Col -->
          <div class="col-md-6 col-lg-4">
             <div class="footer-widget footer-center-widget"><h3 class="widget-title">About Company</h3><div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-813" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-813"><a href="#">Our Investor</a></li>
<li id="menu-item-814" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-814"><a href="#">Service Provider</a></li>
<li id="menu-item-815" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-815"><a href="#">Recent Projects</a></li>
<li id="menu-item-816" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-816"><a href="#">Our Responsibility</a></li>
<li id="menu-item-817" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-817"><a href="#">Code Of Conduct</a></li>
<li id="menu-item-916" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-916"><a href="#">Our Company</a></li>
<li id="menu-item-917" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-917"><a href="#">Latest News</a></li>
<li id="menu-item-918" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-918"><a href="#">Testimonials</a></li>
<li id="menu-item-919" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-919"><a href="#">Job/Career</a></li>
<li id="menu-item-920" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-920"><a href="#">Contact Info</a></li>
</ul></div></div>               </div>
          <!-- End Col -->
          <div class="col-lg-4 col-md-12">
             <script>(function() {
window.mc4wp = window.mc4wp || {
   listeners: [],
   forms: {
       on: function(evt, cb) {
           window.mc4wp.listeners.push(
               {
                   event   : evt,
                   callback: cb
               }
           );
       }
   }
}
})();
</script><!-- Mailchimp for WordPress v4.8.6 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-828" method="post" data-id="828" data-name=""><div class="mc4wp-form-fields"> <div class="ts-footer-info-box text-center">
                       <span class="box-border"></span>
                       <h3 class="widget-title">Login</h3>
                       <div class="intro-form">
                           <!-- START copy section: General Contact Form -->
                           <div id="ts-contactMe" class="contactMe small">
                               <div class="form-row">
                                   <div class="col-md-12">
                                       <input type="text" name="NAME" data-displayname="Name" class="field" placeholder="Name" required="">
                                   </div>
                               </div>
                               <div class="form-row form-row-second">
                                   <div class="col-md-12">
                                       <input type="email" name="email" data-displayname="Email" class="field" placeholder="Email" required="">
                                   </div>
                               </div>

                               <div class="msg "></div>

                               <div class="col-md-12 form-btn">
                                   <button class="btn btn-bordered" type="submit" data-sending="Sending..." data-text="get discount">Join Us <i class="fa fa-arrow-right"></i>
                                   </button>
                               </div>
                           </div>
                       </div>
                       <h4 class="call-us">or
                           <span> Call Us : (210) 224-8484</span>
                       </h4>
                   </div>
</div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" tabindex="-1" autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp" value="1650217745"><input type="hidden" name="_mc4wp_form_id" value="828"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1"><div class="mc4wp-response"></div></form><!-- / Mailchimp for WordPress Plugin -->               </div>
          <!-- End Col -->
       </div>
       <!-- End Widget Row -->
    </div>
    <!-- End Contact Container -->
</footer>
<div class="copyright">
    <div class="container">
       <div class="row">
          <div class="col-md-6 align-self-center">
             <span>
             © 2022  <a href="#">WorkMood</a>. All Right Reserved.               </span>
          </div>
          <!-- End Col -->
          <div class="col-md-6">
                
                <div class="footer-social text-right">
                   <ul class="unstyled">
                                                 <li class="ts-facebook">
                            <a href="#" target="_blank">
                               <i class="fa fa-facebook"></i>
                            </a>
                         </li>
                                                 <li class="ts-twitter">
                            <a href="#" target="_blank">
                               <i class="fa fa-twitter"></i>
                            </a>
                         </li>
                                                 <li class="ts-google">
                            <a href="#" target="_blank">
                               <i class="fa fa-google"></i>
                            </a>
                         </li>
                                                 <li class="ts-linkedin">
                            <a href="#" target="_blank">
                               <i class="fa fa-linkedin"></i>
                            </a>
                         </li>
                                           </ul> <!-- Ul end -->
                </div>
                            <!-- End Social link -->
          </div>
          <!-- End col -->
       </div>
       <!-- End Row -->
    </div>

             <div class="BackTo" style="display: block;">
          <a href="#" class="fa fa-arrow-up" aria-hidden="true"></a>
       </div>
          <!-- End Copyright Container -->
</div>