<section
    class="elementor-section elementor-top-section elementor-element elementor-element-515cbf4 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="515cbf4" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-39f5a7b"
                data-id="39f5a7b" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-391ff1e elementor-widget elementor-widget-buildbench-title"
                            data-id="391ff1e" data-element_type="widget" data-widget_type="buildbench-title.default">
                            <div class="elementor-widget-container">
                                <div class="section-heading-content">
                                    <h2 class="section-title">
                                        <span class="sub-title">We are professionals</span>
                                        Meet The Team
                                    </h2>
                                </div><!-- Section title -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section _ngcontent-qsb-c17="" data-id="ddb73e4" data-element_type="section"
    data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:400}"
    class="elementor-section elementor-top-section elementor-element elementor-element-ddb73e4 elementor-section-boxed elementor-section-height-default elementor-section-height-default animated fadeInUp">
    <div _ngcontent-qsb-c17="" class="elementor-container elementor-column-gap-default">
        <div _ngcontent-qsb-c17="" class="elementor-row">
            <div _ngcontent-qsb-c17="" data-id="165ce51" data-element_type="column"
                class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-165ce51">
                <div _ngcontent-qsb-c17="" class="elementor-column-wrap elementor-element-populated">
                    <div _ngcontent-qsb-c17="" class="elementor-widget-wrap">
                        <div _ngcontent-qsb-c17="" data-id="2ca95bc" data-element_type="widget"
                            data-widget_type="buildbench-team.default"
                            class="elementor-element elementor-element-2ca95bc elementor-widget elementor-widget-buildbench-team">
                            <div _ngcontent-qsb-c17="" class="elementor-widget-container">
                                <div _ngcontent-qsb-c17="" class="team-2">
                                    <div _ngcontent-qsb-c17="" data-numofteam="" id="ts-team-slider"
                                        class="ts-team-slider owl-carousel owl-loaded owl-drag">
                                        <div _ngcontent-qsb-c17="" class="owl-stage-outer">
                                            <div _ngcontent-qsb-c17="" class="owl-stage"
                                                style="transform: translate3d(-1120px, 0px, 0px); transition: all 0s ease 0s; width: 3360px;">
                                                <div _ngcontent-qsb-c17="" class="owl-item cloned"
                                                    style="width: 220px;">
                                                    <div _ngcontent-qsb-c17="" class="ts-team">
                                                        <div _ngcontent-qsb-c17="" class="team-img-wrapper"><img
                                                                _ngcontent-qsb-c17="" src="/assets/oussema.jpg" alt=""
                                                                loading="lazy" class="img-fluid" width="255"
                                                                height="270"></div>
                                                        <div _ngcontent-qsb-c17="" class="ts-team-info text-center">
                                                            <h4 _ngcontent-qsb-c17="" class="team-name"> Oussema Jebari</h4>
                                                            <p _ngcontent-qsb-c17="" class="team-designation">Co-Founder
                                                            </p>
                                                            <div _ngcontent-qsb-c17="" class="team-social text-right">
                                                                <ul _ngcontent-qsb-c17="" class="unstyled">
                                                                    <li _ngcontent-qsb-c17="" class="social-facebook"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-facebook"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-google"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-google-plus"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-twitter"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-twitter"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-linkedin"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-linkedin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-qsb-c17="" class="owl-item cloned"
                                                    style="width: 220px;">
                                                    <div _ngcontent-qsb-c17="" class="ts-team">
                                                        <div _ngcontent-qsb-c17="" class="team-img-wrapper"><img
                                                                _ngcontent-qsb-c17="" src="/assets/team2.jpg" alt=""
                                                                loading="lazy" class="img-fluid" width="255"
                                                                height="270"></div>
                                                        <div _ngcontent-qsb-c17="" class="ts-team-info text-center">
                                                            <h4 _ngcontent-qsb-c17="" class="team-name"> Rory Burns</h4>
                                                            <p _ngcontent-qsb-c17="" class="team-designation">Instructor
                                                            </p>
                                                            <div _ngcontent-qsb-c17="" class="team-social text-right">
                                                                <ul _ngcontent-qsb-c17="" class="unstyled">
                                                                    <li _ngcontent-qsb-c17="" class="social-facebook"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-facebook"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-google"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-google"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-twitter"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-twitter"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-linkedin"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-linkedin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-qsb-c17="" class="owl-item cloned"
                                                    style="width: 220px;">
                                                    <div _ngcontent-qsb-c17="" class="ts-team">
                                                        <div _ngcontent-qsb-c17="" class="team-img-wrapper"><img
                                                                _ngcontent-qsb-c17="" src="/assets/team1.jpg" alt=""
                                                                loading="lazy" class="img-fluid" width="255"
                                                                height="270"></div>
                                                        <div _ngcontent-qsb-c17="" class="ts-team-info text-center">
                                                            <h4 _ngcontent-qsb-c17="" class="team-name"> Wiz Khalifa
                                                            </h4>
                                                            <p _ngcontent-qsb-c17="" class="team-designation">Chairman
                                                            </p>
                                                            <div _ngcontent-qsb-c17="" class="team-social text-right">
                                                                <ul _ngcontent-qsb-c17="" class="unstyled">
                                                                    <li _ngcontent-qsb-c17="" class="social-facebook"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-facebook"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-google"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-google"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-twitter"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-twitter"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-linkedin"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-linkedin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-qsb-c17="" class="owl-item cloned"
                                                    style="width: 220px;">
                                                    <div _ngcontent-qsb-c17="" class="ts-team">
                                                        <div _ngcontent-qsb-c17="" class="team-img-wrapper"><img
                                                                _ngcontent-qsb-c17="" src="/assets/team4.jpg" alt=""
                                                                loading="lazy" class="img-fluid" width="255"
                                                                height="270"></div>
                                                        <div _ngcontent-qsb-c17="" class="ts-team-info text-center">
                                                            <h4 _ngcontent-qsb-c17="" class="team-name"> Isabela Moner
                                                            </h4>
                                                            <p _ngcontent-qsb-c17="" class="team-designation">Project
                                                                Manager</p>
                                                            <div _ngcontent-qsb-c17="" class="team-social text-right">
                                                                <ul _ngcontent-qsb-c17="" class="unstyled">
                                                                    <li _ngcontent-qsb-c17="" class="social-facebook"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-facebook"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-google"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-google"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-twitter"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-twitter"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-linkedin"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-linkedin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-qsb-c17="" class="owl-item active"
                                                    style="width: 220px;">
                                                    <div _ngcontent-qsb-c17="" class="ts-team">
                                                        <div _ngcontent-qsb-c17="" class="team-img-wrapper"><img
                                                                _ngcontent-qsb-c17="" src="/assets/oussema.jpg" alt=""
                                                                loading="lazy" class="img-fluid" width="255"
                                                                height="270"></div>
                                                        <div _ngcontent-qsb-c17="" class="ts-team-info text-center">
                                                            <h4 _ngcontent-qsb-c17="" class="team-name"> Oussema Jebari</h4>
                                                            <p _ngcontent-qsb-c17="" class="team-designation">Co-Founder
                                                            </p>
                                                            <div _ngcontent-qsb-c17="" class="team-social text-right">
                                                                <ul _ngcontent-qsb-c17="" class="unstyled">
                                                                    <li _ngcontent-qsb-c17="" class="social-facebook"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-facebook"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-google"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-google-plus"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-twitter"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-twitter"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-linkedin"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-linkedin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-qsb-c17="" class="owl-item active"
                                                    style="width: 220px;">
                                                    <div _ngcontent-qsb-c17="" class="ts-team">
                                                        <div _ngcontent-qsb-c17="" class="team-img-wrapper"><img
                                                                _ngcontent-qsb-c17="" src="/assets/Abdo.jpg" alt=""
                                                                loading="lazy" class="img-fluid" width="255"
                                                                height="270"></div>
                                                        <div _ngcontent-qsb-c17="" class="ts-team-info text-center">
                                                            <h4 _ngcontent-qsb-c17="" class="team-name"> Abdelhamid Atallah</h4>
                                                            <p _ngcontent-qsb-c17="" class="team-designation">Instructor
                                                            </p>
                                                            <div _ngcontent-qsb-c17="" class="team-social text-right">
                                                                <ul _ngcontent-qsb-c17="" class="unstyled">
                                                                    <li _ngcontent-qsb-c17="" class="social-facebook"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-facebook"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-google"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-google"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-twitter"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-twitter"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-linkedin"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-linkedin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-qsb-c17="" class="owl-item active"
                                                    style="width: 220px;">
                                                    <div _ngcontent-qsb-c17="" class="ts-team">
                                                        <div _ngcontent-qsb-c17="" class="team-img-wrapper"><img
                                                                _ngcontent-qsb-c17="" src="/assets/Fedi.jpg" alt=""
                                                                loading="lazy" class="img-fluid" width="255"
                                                                height="270"></div>
                                                        <div _ngcontent-qsb-c17="" class="ts-team-info text-center">
                                                            <h4 _ngcontent-qsb-c17="" class="team-name"> Abdelkebir Fedi
                                                            </h4>
                                                            <p _ngcontent-qsb-c17="" class="team-designation">Chairman
                                                            </p>
                                                            <div _ngcontent-qsb-c17="" class="team-social text-right">
                                                                <ul _ngcontent-qsb-c17="" class="unstyled">
                                                                    <li _ngcontent-qsb-c17="" class="social-facebook"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-facebook"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-google"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-google"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-twitter"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-twitter"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-linkedin"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-linkedin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-qsb-c17="" class="owl-item active"
                                                    style="width: 220px;">
                                                    <div _ngcontent-qsb-c17="" class="ts-team">
                                                        <div _ngcontent-qsb-c17="" class="team-img-wrapper"><img
                                                                _ngcontent-qsb-c17="" src="/assets/Asma.jpg" alt=""
                                                                loading="lazy" class="img-fluid" width="255"
                                                                height="270"></div>
                                                        <div _ngcontent-qsb-c17="" class="ts-team-info text-center">
                                                            <h4 _ngcontent-qsb-c17="" class="team-name"> Besbes Asma
                                                            </h4>
                                                            <p _ngcontent-qsb-c17="" class="team-designation">Project
                                                                Manager</p>
                                                            <div _ngcontent-qsb-c17="" class="team-social text-right">
                                                                <ul _ngcontent-qsb-c17="" class="unstyled">
                                                                    <li _ngcontent-qsb-c17="" class="social-facebook"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-facebook"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-google"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-google"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-twitter"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-twitter"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-linkedin"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-linkedin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-qsb-c17="" class="owl-item cloned"
                                                    style="width: 220px;">
                                                    <div _ngcontent-qsb-c17="" class="ts-team">
                                                        <div _ngcontent-qsb-c17="" class="team-img-wrapper"><img
                                                                _ngcontent-qsb-c17="" src="/assets/oussema.jpg" alt=""
                                                                loading="lazy" class="img-fluid" width="255"
                                                                height="270"></div>
                                                        <div _ngcontent-qsb-c17="" class="ts-team-info text-center">
                                                            <h4 _ngcontent-qsb-c17="" class="team-name"> Oussema Jebari</h4>
                                                            <p _ngcontent-qsb-c17="" class="team-designation">Co-Founder
                                                            </p>
                                                            <div _ngcontent-qsb-c17="" class="team-social text-right">
                                                                <ul _ngcontent-qsb-c17="" class="unstyled">
                                                                    <li _ngcontent-qsb-c17="" class="social-facebook"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-facebook"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-google"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-google-plus"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-twitter"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-twitter"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-linkedin"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-linkedin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-qsb-c17="" class="owl-item cloned"
                                                    style="width: 220px;">
                                                    <div _ngcontent-qsb-c17="" class="ts-team">
                                                        <div _ngcontent-qsb-c17="" class="team-img-wrapper"><img
                                                                _ngcontent-qsb-c17="" src="/assets/Hazem.jpg" alt=""
                                                                loading="lazy" class="img-fluid" width="255"
                                                                height="270"></div>
                                                        <div _ngcontent-qsb-c17="" class="ts-team-info text-center">
                                                            <h4 _ngcontent-qsb-c17="" class="team-name"> Amami Hazem</h4>
                                                            <p _ngcontent-qsb-c17="" class="team-designation">Instructor
                                                            </p>
                                                            <div _ngcontent-qsb-c17="" class="team-social text-right">
                                                                <ul _ngcontent-qsb-c17="" class="unstyled">
                                                                    <li _ngcontent-qsb-c17="" class="social-facebook"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-facebook"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-google"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-google"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-twitter"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-twitter"></i></a></li>
                                                                    <li _ngcontent-qsb-c17="" class="social-linkedin"><a
                                                                            _ngcontent-qsb-c17="" href="#"><i
                                                                                _ngcontent-qsb-c17=""
                                                                                class="fa fa-linkedin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div _ngcontent-qsb-c17="" class="owl-nav disabled">
                                            <div _ngcontent-qsb-c17="" class="owl-prev"><i _ngcontent-qsb-c17=""
                                                    class="fa fa-arrow-left"></i></div>
                                            <div _ngcontent-qsb-c17="" class="owl-next"><i _ngcontent-qsb-c17=""
                                                    class="fa fa-arrow-right"></i></div>
                                        </div>
                                        <div _ngcontent-qsb-c17="" class="owl-dots disabled">
                                            <div _ngcontent-qsb-c17="" class="owl-dot active"><span
                                                    _ngcontent-qsb-c17=""></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>