





<!-- <button class="btn btn-outline-warning mr-2" [routerLink]="['/addsurvey']" >Ajouter</button> -->
<app-nav></app-nav>
<h2>Review Table </h2>
<div >
    <div class="top_part">
      <div class="filter_part">
        
        <div class="filter_caat">
          
        
        <input type="text" name="recherche" placeholder="search" [(ngModel)]="searchText" class="recherche"> 
        <input type="submit" value="search" name="search" class="submit_bt">
        <!-- <p style="font-size:18px;font-weight: 600;">Select Your Category<span><fa-icon class="ml-2" style="color: #21aba5;" ></fa-icon></span></p> -->
    
         
      </div>
     
       <button style="font-size:10px;font-weight: 900;margin-left:446px;" (click)="sortByDateAsc()" >DateExpAsc</button> 
      <button style="font-size:10px;font-weight: 900;margin-left:90px;" (click)="sortByDateDesc()" >DateExpDesc</button>
      </div>
    </div>

<div class="table-wrapper">
<table class="fl-table" >
    <thead >
        <tr>
          <th scope="col">ID</th>
          <th scope="col">content</th>
          <th scope="col">dateExp</th>
          <th>Delete</th>
          
        </tr>
      </thead>
<tbody>
<tr *ngFor="let m of SurveyQuestion| filter:searchText| paginate: { itemsPerPage: 4, currentPage: pages }">
        
    <td>
        {{m.id}}
    </td>
    <td> 
        {{m.content}}
    </td>
    <td>
        {{m.dateExp}}
    </td>
    

   
    <td><button class="btn btn-outline-danger mr-2" (click)="getById(m.id)">Delete </button></td>
    
</tr>
</tbody>
</table>

</div>
<pagination-controls (pageChange)="pages = $event" style="text-align: center;padding: 10px;border: 1px solid black;padding: 10px;">
</pagination-controls>
<app-dashboardfooter></app-dashboardfooter>

