<!-- header nav start-->
<header class="header-transparent">
    <div class="nav ts-nav topbar">
        <div class="container">
            <div class="row ">
                <div class="col-lg-2">
                    <!--  <a class="nav-brand" href="#"></a>-->
                    <div class="logo-area">
                        <a class="logo" href="https://demo.themewinter.com/wp/buildbench/">
                            <img class="img-fluid" src="/assets/footer_logo.png" alt="BuildBench">
                        </a>

                    </div>
                </div><!-- Col end -->
                <div class="col-lg-10">
                    <div class="top-bar pull-right">
                                                    <ul class="header-nav-right-info">
                                <li>
                                                                            <i class="fa fa-phone2"></i>
                                        <span> +216 58205523 </span>
                                        Make a call                                    
                                </li>
                                <li>
                                    
                                        <i class="fa fa-envelope2"></i>
                                        <span> workmood@gmail.com </span>
                                        Drop us a line
                                                                    </li>
                                <li>
                                                                            <i class="fa fa-map-marker1"></i>
                                        <span> Esprit Ariana,Technopol </span>
                                        Get Dirction                                    
                                </li>
                            </ul>
                                            </div><!-- Top bar end -->

                </div>
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div>

    <!-- navbar container start -->
    <div class="navbar-container navbar-sticky sticky fade_down_effect">
        <div class="container">
            <nav class="navbar navbar-light xs-navbar navbar-expand-lg">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primary-nav" aria-controls="primary-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                

	<div id="primary-nav" class="collapse navbar-collapse"><ul id="main-menu" class="navbar-nav"><li id="menu-item-159" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-159 nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Home</a>
</li>
<li id="menu-item-160" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-160 nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Colaboration</a>
<li id="menu-item-173" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-173 nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">NewsFeed</a>
<li id="menu-item-187" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-187 nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Services<i class="fa fa-angle-down"></i></a>
  <ul class="dropdown-menu">
    <li id="menu-item-2078" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2078 nav-item"><a href="https://demo.themewinter.com/wp/buildbench/blog/2019/03/21/support-development-for-more-experience-3/" class=" dropdown-item">Events</a></li>
    <li id="menu-item-2076" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2078 nav-item"><a href="https://demo.themewinter.com/wp/buildbench/blog/2019/03/21/support-development-for-more-experience-3/" class=" dropdown-item">Offers</a></li>
    <li id="menu-item-2077" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2078 nav-item"><a href="https://demo.themewinter.com/wp/buildbench/blog/2019/03/21/support-development-for-more-experience-3/" class=" dropdown-item">Subscriptions</a></li>
  </ul>
<li id="menu-item-200" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-200 nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Features</a>
<li id="menu-item-203" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-203 nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Forum<i class="fa fa-angle-down"></i></a>
<ul class="dropdown-menu">
	<li id="menu-item-2078" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2078 nav-item"><a href="https://demo.themewinter.com/wp/buildbench/blog/category/building/" class=" dropdown-item">Blogs</a>	</li><li id="menu-item-2080" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2080 nav-item"><a href="https://demo.themewinter.com/wp/buildbench/blog/category/house/" class=" dropdown-item">Articles</a>	</li><li id="menu-item-2133" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2133 nav-item"><a href="https://demo.themewinter.com/wp/buildbench/blog/2019/03/21/support-development-for-more-experience-3/" class=" dropdown-item">Survey</a></li></ul>
</li>
<li id="menu-item-206" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-206 nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Contact</a>
</li>
</ul></div>

                <ul class="nav-right ml-auto form-inline">
                                            <li class="nav-search-btn">
                            <a href="#modal-popup-2" class="xs-modal-popup"><i class="fa fa-search"></i></a>
                            <!-- xs modal -->
                        </li>
                    
                                            <li class="nav-button" style="background-color: #1fb79b;">
                            <a href="#" class="quote-btn"> Click To Login                           </a>
                        </li>
                    
                </ul><!-- Right menu end -->

            </nav>


        </div>
    </div>
    <!-- navbar contianer end -->
</header>
