
<div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-user"></i><span class="menu-title" data-i18n="Form Layout">Users Statistiques</span></a>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-gift"></i><span class="menu-title" data-i18n="Form Layout">Offers Statistiques</span></a>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-edit-2"></i><span class="menu-title" data-i18n="Form Layout">Reclamations Statistiques</span></a>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-package"></i><span class="menu-title" data-i18n="Form Layout">Articles Statistiques</span></a>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-tag"></i><span class="menu-title" data-i18n="Form Layout">Badges Statistiques</span></a>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-message-circle"></i><span class="menu-title" data-i18n="Form Layout">Comments Statistiques</span></a>
        </li>
        <li class=" nav-item"><a [routerLink]="['/Dashboard/StatsEvents']"><i class="feather icon-calendar"></i><span class="menu-title" data-i18n="Form Layout">Events Statistiques</span></a>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-edit"></i><span class="menu-title" data-i18n="Form Layout">Posts Statistiques</span></a>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-star"></i><span class="menu-title" data-i18n="Form Layout">Reviews Statistiques</span></a>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-help-circle"></i><span class="menu-title" data-i18n="Form Layout">Surveys Statistiques</span></a>
        </li>
      
    </ul>
</div>