<app-nav></app-nav>
  <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
        <div class="content-header row">
        </div>
            <div>
                <div class="top_part">
                        <h2>Users List</h2>
                    <div class="filter_part">
                        <div class="filter_caat">
                            <!--[(ngModel)]="searchText" -->
                            <input
                            type="text"
                            class="form-control"
                            placeholder="Search..."
                            [(ngModel)]="filterTerm"
                          /> 
                        </div>
                    </div>
                </div>
            
                <div class="table-wrapper">
                    <table class="fl-table">
                        <thead>
                            <tr>
                                <th scope="col">FirstName</th>
                                <th scope="col">Name</th>
                                <th scope="col">EmailAddress</th>
                                <th scope="col">Username</th>
                                <th scope="col">PhoneNumber</th>
                                <th scope="col">Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div *ngIf="showLoader"><!-- so this div containing img will be dislpayed only when the showLoader is equal to true-->
                                <div class='body' style="background-color: #1fb79b;">
                                    <span>
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                    </span>
                                    <div class='base'>
                                      <span></span>
                                      <div class='face'></div>
                                    </div>
                                  </div>
                                  <div class='longfazers'>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                  </div>
                                  <h1>Loading Badges</h1>
                                  
                            </div>
                           
                            <tr *ngFor="let o of listusers | paginate: { itemsPerPage: 4, currentPage: pages } | filter:filterTerm">
                                <!--| filter:searchText-->
                                <td>
                                    {{o.firstname}}
                                </td>
                                <td>
                                    {{o.name}}
                                </td>
                                <td>
                                    {{o.emailAddress}}
                                </td>
                                <td>
                                    {{o.username}}
                                </td>
                                <td>
                                    {{o.phoneNumber}}
                                </td>
                                <td>
                                <button class="btn btn-outline-danger mr-2"[routerLink]="['/Dashboard/ShowUserEvents/',o.idUser]"><i class="feather icon-edit d-flex justify-content-center"></i></button>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination-controls (pageChange)="pages = $event" style="text-align: center;padding: 10px;border: 1px solid black;padding: 10px;">
                </pagination-controls>

</div>

