<app-head></app-head>
<app-header></app-header>
<div id="main-content" class="main-container blog-single" role="main">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-12">
                <article id="post-1954"
                    class="post-content post-single post-1954 post type-post status-publish format-image has-post-thumbnail hentry category-building tag-building tag-construction tag-contracting tag-design tag-planning tag-project tag-safety post_format-post-format-image">

                    <div class="post-media post-image">
                        <img class="img-fluid"
                            src="/assets/Images/Evenements/AddEvent/{{event.coverimage}}"
                            >
                    </div>

                    <div class="post-body clearfix">

                        <!-- Article header -->
                        <header class="entry-header clearfix">
                            <div class="post-meta">
                                <span class="post-author"><i class="icon icon-user"></i> <a
                                        href="https://demo.themewinter.com/wp/buildbench/blog/author/wptwuser/">{{event.title}}</a></span><span
                                    class="post-meta-date">
                                    <i class="icon icon-clock"></i>
                                   {{event.dateStart}}</span><span class="meta-categories post-cat">
                                    <i class="icon icon-folder"></i>
                                    <a href="https://demo.themewinter.com/wp/buildbench/blog/category/building/"
                                        rel="category tag">{{event.eventTags}}</a>
                                </span> <span class="post-comment"><i class="icon icon-comment"></i><a href="#"
                                        class="comments-link"></a>{{event.npDisponible}}</span>
                            </div>
                            <h2 class="entry-title">
                                Riding with friend is the best feeling </h2>
                        </header><!-- header end -->

                        <!-- Article content -->
                        <div class="entry-content clearfix">

                            <p>What a crazy time. I have five children in colleghigh school graduates.jpge or pursing
                                post graduate studies (ages 18 through 26 for those who were wondering). Each of my
                                children attends college far from home, the closest of which is more than 800 miles
                                away. While I miss being with my older children, I know that a college experience can be
                                the source of great growth and can provide them with even greater employment
                                opportunities in future.</p>



                            <p>Many families look to the college years for children/grandchildren with mixed emotions
                                excitement and trepidation. These two words rarely go together, but when it comes to
                                college, it seems to be a perfect match.</p>



                            <blockquote class="wp-block-quote">
                                <p> <br>&nbsp;Financial engagements are typically multifaceted, solving for specific
                                    digital marketing and challenges while building.Anger Mathe </p><cite><br>Anger
                                    Mathe </cite>
                            </blockquote>



                            <h3>{{event.description}}</h3>

                            <p>Many families look to the college years for children/grandchildren with mixed emotions
                                excitement and trepidation. These two words rarely go together, but when it comes to
                                college, it seems to be a perfect match.This does not surprise us as Bitcoin has been
                                mentioned in the news</p>
                            <div class="post-footer clearfix">
                                <div class="post-tag-container">
                                    <div class="tag-lists"><span>Tags: </span><a
                                            href="https://demo.themewinter.com/wp/buildbench/blog/tag/building/"
                                            rel="tag">{{event.eventTags}}</a> </div>
                                </div>
                            </div> <!-- .entry-footer -->

                        </div> <!-- end entry-content -->
                    </div> <!-- end post-body -->
                </article>

                <div _ngcontent-bta-c73="" id="comments">
                    <h2 _ngcontent-bta-c73="" class="comments-title"><i _ngcontent-bta-c73="" class="icon-bubbles"></i>
                        Comments</h2>
                    <ol _ngcontent-bta-c73="" class="comments-list">
                        <li _ngcontent-bta-c73="">
                            <div _ngcontent-bta-c73="" class="comment-box clearfix">
                                <div _ngcontent-bta-c73="" class="avatar"><a _ngcontent-bta-c73="" href="#"><img
                                            _ngcontent-bta-c73="" alt="" src="assets/Asma.jpg"></a></div>
                                <div _ngcontent-bta-c73="" class="comment-content">
                                    <div _ngcontent-bta-c73="" class="comment-meta">
                                        <h4 _ngcontent-bta-c73="" class="comment-by"><a _ngcontent-bta-c73=""
                                                href="#">Asma besbes</a></h4><span _ngcontent-bta-c73=""
                                            class="comment-date">August 27,2016 at 02:30am | <a _ngcontent-bta-c73=""
                                                href="#" class="reply-link"><i _ngcontent-bta-c73=""
                                                    class="lni-reply"></i></a></span>
                                    </div>
                                    <p _ngcontent-bta-c73="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                            <ul _ngcontent-bta-c73="">
                                <li _ngcontent-bta-c73="">
                                    <div _ngcontent-bta-c73="" class="comment-box clearfix">
                                        <div _ngcontent-bta-c73="" class="avatar"><a _ngcontent-bta-c73="" href="#"><img
                                                    _ngcontent-bta-c73="" alt="" src="assets/oussema.jpg"></a>
                                        </div>
                                        <div _ngcontent-bta-c73="" class="comment-content">
                                            <div _ngcontent-bta-c73="" class="comment-meta">
                                                <h4 _ngcontent-bta-c73="" class="comment-by"><a _ngcontent-bta-c73=""
                                                        href="#">Oussema Jebari</a></h4><span _ngcontent-bta-c73=""
                                                    class="comment-date">May 15, 2020 at 7:39 pm | <a
                                                        _ngcontent-bta-c73="" href="#" class="reply-link"><i
                                                            _ngcontent-bta-c73="" class="lni-reply"></i></a></span>
                                            </div>
                                            <p _ngcontent-bta-c73="">Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li _ngcontent-bta-c73="">
                            <div _ngcontent-bta-c73="" class="comment-box clearfix">
                                <div _ngcontent-bta-c73="" class="avatar"><a _ngcontent-bta-c73="" href="#"><img
                                            _ngcontent-bta-c73="" alt="" src="assets/Fedi.jpg"></a></div>
                                <div _ngcontent-bta-c73="" class="comment-content">
                                    <div _ngcontent-bta-c73="" class="comment-meta">
                                        <h4 _ngcontent-bta-c73="" class="comment-by"><a _ngcontent-bta-c73=""
                                                href="#">Fedi Abdelkebir</a></h4><span _ngcontent-bta-c73=""
                                            class="comment-date">May 15, 2020 at 7:39 pm | <a _ngcontent-bta-c73=""
                                                href="#" class="reply-link"><i _ngcontent-bta-c73=""
                                                    class="lni-reply"></i></a></span>
                                    </div>
                                    <p _ngcontent-bta-c73="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </li>
                    </ol>
                
                </div>
                <div id="comments" class="blog-post-comment">


                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow"
                                    id="cancel-comment-reply-link"
                                    href="/wp/buildbench/blog/2019/03/21/support-development-for-more-experience-3/#respond"
                                    style="display:none;">Cancel reply</a></small></h3>
                        <form action="https://demo.themewinter.com/wp/buildbench/wp-comments-post.php" method="post"
                            id="commentform" class="comment-form">
                            <p class="comment-notes"><span id="email-notes">Your email address will not be
                                    published.</span> Required fields are marked <span class="required">*</span></p>
                            <div class="comment-info row">
                                <div class="col-md-6"><input placeholder="Enter Name" id="author" class="form-control"
                                        name="author" type="text" value="" size="30" aria-required="true"></div>
                                <div class="col-md-6">
                                    <input placeholder="Enter Email" id="email" name="email" class="form-control"
                                        type="email" value="" size="30" aria-required="true">
                                </div>
                                <div class="col-md-12"><input placeholder="Enter Website" id="url" name="url"
                                        class="form-control" type="url" value="" size="30"></div>
                            </div>
                            <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent"
                                    name="wp-comment-cookies-consent" type="checkbox" value="yes"> <label
                                    for="wp-comment-cookies-consent">Save my name, email, and website in this browser
                                    for the next time I comment.</label></p>

                            <div class="row">
                                <div class="col-md-12 ">
                                    <textarea class="form-control" placeholder="Enter Comments" id="comment"
                                        name="comment" cols="45" rows="8" aria-required="true"></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <p class="form-submit"><input name="submit" type="submit" id="submit"
                                    class="btn-comments btn btn-primary" value="Post Comment"> <input type="hidden"
                                    name="comment_post_ID" value="1954" id="comment_post_ID">
                                <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                            </p>
                        </form>
                    </div><!-- #respond -->

                </div><!-- #comments -->
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 col-md-12">
                <aside id="sidebar" class="sidebar" role="complementary">
                   <div id="xs-recent-post-3" class="widget buildbench-widget"><h3 class="widget-title">Recommended Events</h3>	
                    	<div class="widget-posts">
                                          <div class="widget-post media" *ngFor="let x of listrecommended">
                                  <a href=""><img src="/assets/Images/Evenements/AddEvent/{{x.coverimage}}" name="{{x.coverimage}}" id="{{x.coverimage}}"></a>						<div class="media-body">
                                      <span class="post-date"> 
                                          {{x.dateStart}}							</span>
                                      <h4 class="entry-title">
                                          <a href="">{{x.title}}</a>
                                      </h4>
                                  
                                  </div>
                              </div>
                 
                      </div>
                  </div>     </aside> <!-- #sidebar --> 
             </div>

        </div> <!-- .row -->
    </div> <!-- .container -->
</div>
<app-footer></app-footer>
<app-scripts></app-scripts>