<p>add-reclamation works!</p>
<form #f="ngForm">
    <label>Objet</label>
    <input type="text" name="objet" ngModel/> 

    <label>Message</label>
    <input type="text" name="message" ngModel/>

    <!--<label>Creation Date</label>
    <input type="date" name="creationDate" ngModel/>

    <label>Processing Date</label>
    <input type="date" name="processingDate" ngModel/>

    <label>status</label>
    <input type="text" name="status" ngModel/> 

    <label>Response</label>
    <input type="text" name="response" ngModel/>-->

    <input type="submit" value="save" (click)="save(f.value)"/> 
</form>

