<section class="elementor-section elementor-top-section elementor-element elementor-element-6f52f46 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6f52f46" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-23a2538" data-id="23a2538" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-b4e3042 elementor-widget elementor-widget-buildbench-title" data-id="b4e3042" data-element_type="widget" data-widget_type="buildbench-title.default">
<div class="elementor-widget-container">
 <div class="section-heading-content">
<h2 class="section-title">
<span class="sub-title">Easy Steps</span>
Working Process​                             </h2>
</div><!-- Section title -->		


</div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-d7a6a12 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d7a6a12" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-0bdb7a1 animated fadeInUp" data-id="0bdb7a1" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:300}">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-754c4c8 elementor-widget elementor-widget-buildbench-working-process" data-id="754c4c8" data-element_type="widget" data-widget_type="buildbench-working-process.default">
<div class="elementor-widget-container">

<div class="ts-working-process">
<div class="text-center">
<div class="ts-working-box">
<div class="working-icon-wrapper">
<div class="working-icon">
 <img src="/assets/working1.png" alt="Working Process " class="img-fluid">
 <span class="working-process-number"> 1 </span>
</div>
<div class="working-arrow">
 <img src="/assets/arrow.png" alt="Design Build">
</div>
</div>
<!-- Icon Wrapper End -->
<h3>Design Build</h3>
</div>
<!-- Working Box End -->
</div>
</div>

</div>
</div>
    </div>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-112a0f1 animated fadeInUp" data-id="112a0f1" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:350}">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-0fb224e elementor-widget elementor-widget-buildbench-working-process" data-id="0fb224e" data-element_type="widget" data-widget_type="buildbench-working-process.default">
<div class="elementor-widget-container">

<div class="ts-working-process">
<div class="text-center">
<div class="ts-working-box">
<div class="working-icon-wrapper">
<div class="working-icon">
 <img src="/assets/working2.png" alt="Working Process " class="img-fluid">
 <span class="working-process-number"> 2 </span>
</div>
<div class="working-arrow">
 <img src="/assets/arrow.png" alt=" Preliminary Drawings">
</div>
</div>
<!-- Icon Wrapper End -->
<h3> Preliminary Drawings</h3>
</div>
<!-- Working Box End -->
</div>
</div>

</div>
</div>
    </div>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-a37e0f7 animated fadeInUp" data-id="a37e0f7" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:400}">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-c731374 elementor-widget elementor-widget-buildbench-working-process" data-id="c731374" data-element_type="widget" data-widget_type="buildbench-working-process.default">
<div class="elementor-widget-container">

<div class="ts-working-process">
<div class="text-center">
<div class="ts-working-box">
<div class="working-icon-wrapper">
<div class="working-icon">
 <img src="/assets/working3.png" alt="Working Process " class="img-fluid">
 <span class="working-process-number"> 3 </span>
</div>
<div class="working-arrow">
 <img src="/assets/arrow.png" alt=" Detail Drawings">
</div>
</div>
<!-- Icon Wrapper End -->
<h3> Detail Drawings</h3>
</div>
<!-- Working Box End -->
</div>
</div>

</div>
</div>
    </div>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-e5248aa animated fadeInUp" data-id="e5248aa" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:450}">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-287ad63 elementor-widget elementor-widget-buildbench-working-process" data-id="287ad63" data-element_type="widget" data-widget_type="buildbench-working-process.default">
<div class="elementor-widget-container">

<div class="ts-working-process">
<div class="text-center">
<div class="ts-working-box">
<div class="working-icon-wrapper">
<div class="working-icon">
 <img src="/assets/working4.png" alt="Working Process " class="img-fluid">
 <span class="working-process-number"> 4 </span>
</div>
<div class="working-arrow">
 <img src="/assets/arrow.png" alt="Construction">
</div>
</div>
<!-- Icon Wrapper End -->
<h3>Construction</h3>
</div>
<!-- Working Box End -->
</div>
</div>

</div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>