button {
    padding: 0.8em 1.8em;
    border: 0px solid #17c3b2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.3s;
    z-index: 1;
    font-family: inherit;
    color: #17c3b2;
  }
  
  button::before {
    content: "";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17c3b2;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }
  
  button:hover::before {
    width: 105%;
  }
  
  button:hover {
    color: #111;
  }
  
  /* From uiverse.io by @nikk7007 */
  button {
    padding: 0.8em 1.8em;
  
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.3s;
    z-index: 1;
    font-family: inherit;
    color: #17c3b2;
  }
  
  button::before {
    content: "";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17c3b2;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }
  
  button:hover::before {
    width: 105%;
  }
  
  button:hover {
    color: #111;
  }
  
  .top_part {
    width: 100%;
    height: 450px;
    background-color: #eee;
    background-image: url("../../../../assets/Images/reclamation.jpg");
    background-position: center;
    position: relative;
  }
  .overlay
  {
    position: sticky !important;
    width: 100%;
    height: 100%;
  
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
  
  }
  .filter_part
  {
    width: 60%;
      position: absolute;
      top: 387px;
      height: 120px;
      background-color: rgb(252, 252, 252);
      box-shadow: 0 -1px 4px 0 rgb(26 26 26 / 8%), 0 4px 8px 0 rgb(26 26 26 / 12%);
      right: 300px;
      padding: 30px;
      z-index: 99;
      border-radius: 5px;
  }
  
  .recherche
  {
    border: none;
    width: 30%;
    height: 45px;
    font-size: 15px;
    background-color: #eee;
    border-bottom: 1px solid rgb(30, 169, 118);
    border: 2px;
    margin: 29px 10px;
    border-radius: 2px;
    padding:10px;
  }
  .submit_bt
  {
    border:none;
    background-color: #27ada7;
    padding: 7px 35px;
    font-size: 18px;
    position:absolute;
    top: 74px;
    border-radius: 2px;
    font-weight: 400;
    color:white;
    margin-top: -14px;
  }
  