body
{
  font-family: 'Montserrat', sans-serif;
}

.post_img
{
  margin:10px;
  width:45px;
  height: 45px;
  border-radius: 50%;
  background-color: aquamarine;
  background-image: url('../../../../assets/userr.png');
  background-position: center;
}
.publication :hover {
   cursor: pointer;
   transform: translateX(-3px);

}
