<!--<div class="container">
  <select id="key" name="key" [(ngModel)]="category" (change)="onChange()">
    <option value='' disabled selected>Category</option>
    <option *ngFor="let key of keys" [value]="key" (click)="getByCategory(category)" >
        {{categoryArti[key]}}
    </option>
</select>
  <div class="card" *ngFor="let a of article">
    <div class="card-header">
      <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover" />
    </div>
    <div class="card-body">
      <span class="tag tag-teal">{{a.category}}</span>
      <h4>
        {{a.title}}
      </h4>
      <p>
        {{a.Description}}
      </p>

    -->
      <!--<div class="user">
        <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
        <div class="user-info">
          <h5>July Dec</h5>
          <small>2h ago</small>
        </div>
      </div>-->
      <!--
      <div class="mb-2">
        <button [routerLink]="['/update',a.idArticle]" class="btn btn-secondary ">update</button>
        <button (click)="deleteArticle(a.idArticle)" class="btn btn-danger mx-2">Delete</button>
      </div>

      <button [routerLink]="['/afficher-articlebyid/',a.idArticle]" class="btn btn-secondary ">show details</button>

    </div>
  </div><br>
  <div class="d-flex flex-column">
    <button class="btn btn-primary" [routerLink]="['/add-article']">Ajouter article</button>
  </div>
-->


<!--<div>
  <table>
    <thead>
      <th>Title</th>
      <th>Description</th>
      <th>Date Creation</th>
      <th>Category</th>
    </thead>
    <tbody>
      <tr *ngFor="let a of listarticle">
        <td> {{a.title}}</td>
        <td> {{a.description}}</td>
        <td> {{a.dateCreation}}</td>
        <td> {{a.category}}</td>
        <td>
          <button [routerLink]="['/update']" class="btn btn-dark">update</button>
          <button (click)="deleteArticle(a.idArticle)" class="btn btn-danger ">Delete</button>
          <button [routerLink]="['/afficher-articlebyid/{{a.idArticle}}']" class="btn btn-secondary ">show details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <button class="" [routerLink]="['/add-article']">Ajouter article</button>
</div>
-->
<app-head></app-head>
<app-header></app-header>
<div >
<div class="top_part">
  <div class="overlay">
    <!--<h2 style="z-index: 10;position: absolute;top:50%;left: 20%;">Le Blog Workmood</h2>-->
  </div>
  <div class="filter_part">
    <div class="filter_caat">
      <p style="font-size:18px;font-weight: 600;">Select Your Category<span><fa-icon class="ml-2" style="color: #21aba5;" [icon]="faListAlt"></fa-icon></span></p>
      <select class="categ_sel"  placeid="key" name="key" [(ngModel)]="category" (change)="onChange()">
        <option value="" disabled selected>Select your option</option>
        <option *ngFor="let key of keys" [value]="key" (click)="getByCategory(category)" >
            {{categoryArti[key]}}
        </option>
    </select>
    <input type="text" name="recherche" placeholder="search" [(ngModel)]="searchText" class="recherche">
    <button style="border: none;
    padding: 4px 10px 6px 10px;
    background-color: #607d8b;
    border-radius: 3px;
    margin: 2px 10px;" (click)="sortByDateDesc()"><fa-icon style="font-size: 20px;color:white" [icon]="faArrowUpShortWide"></fa-icon></button>
    <button style="border: none;
    padding: 4px 10px 6px 10px;
    background-color: #607d8b;
    border-radius: 3px;
    margin: 2px 26px 2px -3px;" (click)="sortByDateAsc()"><fa-icon style="font-size: 20px;color:white" [icon]="faArrowDownShortWide"></fa-icon></button>
    <input type="submit" value="search" (click)="getArticleSearch(title)" name="search" class="submit_bt">
    </div>

  </div>
</div>


  <div class="container">
    <div class="carousel" *ngFor="let a of article | filter:searchText">
        <div class="carousel_img">

        </div>
       <div class="carousel_content"  >
          <h3>
            {{a.title}}
          </h3>
          <p>
            {{a.description}}
          </p>
          <!-- <button [routerLink]="['/update/',a.idArticle]" class="btn btn-dark">update</button> -->

          <div class="partie_louta">
            <!--[ngStyle]="{'background-color':a.category==='Education' ? 'red' :'none' }"-->
            <div style="font-size: 14px;" *ngIf="a.category=='Technology'">
              <p style="background-color: bisque;
              padding: 5px 7px;
              border-radius: 10px;
              font-weight: 500;">{{a.category}}</p>
            </div>
            <div style="font-size: 14px;" *ngIf="a.category=='Education'">
              <p style="background-color:#f3b7f9; padding: 5px 7px;
              border-radius: 10px;
              font-weight: 500; ">{{a.category}}</p>
            </div>
            <div style="font-size: 14px;" *ngIf="a.category=='Selfdeveolpment'">
              <p style="background-color:#2b92ff; padding: 5px 7px;
              border-radius: 10px;
              font-weight: 500; ">{{a.category}}</p>
            </div>
            <div style="font-size: 14px;" *ngIf="a.category=='Health'">
              <p style="background-color: #ffe838; padding: 5px 7px;
              border-radius: 10px;
              font-weight: 500;">{{a.category}}</p>
            </div>
            <span style="padding: 5px;"><a [routerLink]="['/afficher-articlebyid/',a.idArticle,a.category]" style="font-size:14px;">Show More<span><fa-icon style="color: #666;" [icon]="faAngleRight"></fa-icon></span></a></span>
          </div>

       </div>
    </div>
  </div>
</div>
<div style="    margin: auto;
display: flex;
flex-wrap: wrap;
flex-direction: column;
/* align-content: space-between; */
align-items: center;">
  <h3 style="font-weight: 400;font-size:25px;margin-bottom: 20px;">Add your own article</h3>
  <div style="display:flex;
  justify-content: center;
  align-items: center;">
    <div style="width:20%;">
      <img [routerLink]="['/add-article']" src="../../../../assets/first.svg">
    </div>
    <button class="" style="background-color: #00bfa6;
    padding: 15px 20px;
    border: none;

    margin-left: -84px;
    margin-top: 89px;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Montserrat';" [routerLink]="['/add-article']">Ajouter article</button>
  </div>

</div>
<app-footer></app-footer>
<app-scripts></app-scripts>



