<div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li class=" navigation-header"><span>Users Management</span>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-list"></i><span class="menu-title" data-i18n="Data List">CRUD</span><span class="badge badge badge-primary badge-pill float-right mr-2">New</span></a>
            <ul class="menu-content">
                <li><a href="data-list-view.html"><i class="feather icon-plus-circle"></i><span class="menu-item" data-i18n="List View">Add User</span></a>
                </li>
                <li><a href="data-list-view.html"><i class="feather icon-refresh-ccw"></i><span class="menu-item" data-i18n="List View">Update User</span></a>
                </li>
                <li><a href="data-thumb-view.html"><i class="feather icon-trash"></i><span class="menu-item" data-i18n="Thumb View">Delete User</span></a>
                </li>
                <li><a href="data-thumb-view.html"><i class="feather icon-trash"></i><span class="menu-item" data-i18n="Thumb View">Delete All Users</span></a>
                </li>
            </ul>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Charts">Features</span><span class="badge badge badge-pill badge-warning float-right mr-2">Hot</span></a>
            <ul class="menu-content">
                <li class=" nav-item"><a href="form-layout.html"><i class="feather icon-terminal"></i><span class="menu-title" data-i18n="Form Layout">Affect Role To User</span></a>
                </li>
                <li class=" nav-item"><a href="form-layout.html"><i class="feather icon-terminal"></i><span class="menu-title" data-i18n="Form Layout">Disable User Account </span></a>
                </li>
            </ul>
        </li>
        <li class=" navigation-header"><span>Offres Management</span>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-list"></i><span class="menu-title" data-i18n="Data List">CRUD</span><span class="badge badge badge-primary badge-pill float-right mr-2">New</span></a>
            <ul class="menu-content">
                <li><a href="data-list-view.html"><i class="feather icon-plus-circle"></i><span class="menu-item" data-i18n="List View">Add Offer</span></a>
                </li>
                <li><a href="data-list-view.html"><i class="feather icon-refresh-ccw"></i><span class="menu-item" data-i18n="List View">Update Offer</span></a>
                </li>
                <li><a href="data-thumb-view.html"><i class="feather icon-trash"></i><span class="menu-item" data-i18n="Thumb View">Delete Offer</span></a>
                </li>
            </ul>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Charts">Features</span><span class="badge badge badge-pill badge-warning float-right mr-2">Hot</span></a>
            <ul class="menu-content">
                <li class=" nav-item"><a href="colors.html"><i class="feather icon-terminal"></i><span class="menu-title" data-i18n="Colors">Affect User to Offer</span></a>
                </li>
            </ul>
        </li>
        <li class=" navigation-header"><span>Reclamations Management</span>
        </li>
        <li class=" nav-item"><a ><i class="feather icon-list"></i><span class="menu-title" data-i18n="Form Elements">CRUD</span></a>
            <ul class="menu-content">
                <li><a href="form-select.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Select">Add Reclamation</span></a>
                </li>
                <li><a href="form-switch.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Switch">Update Reclamation</span></a>
                </li>
                <li><a href="form-checkbox.html"><i class="feather icon-trash"></i><span class="menu-item" data-i18n="Checkbox">Delete Reclamation</span></a>
                </li>
            </ul>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Charts">Features</span><span class="badge badge badge-pill badge-warning float-right mr-2">Hot</span></a>
            <ul class="menu-content">
                <li class=" nav-item"><a href="form-layout.html"><i class="feather icon-terminal"></i><span class="menu-title" data-i18n="Form Layout">Affect User To Relcamation</span></a>
                </li>
                <li class=" nav-item"><a href="form-wizard.html"><i class="feather icon-package"></i><span class="menu-title" data-i18n="Form Wizard">Treat Reclamation</span></a>
                </li>
                <li class=" nav-item"><a href="form-validation.html"><i class="feather icon-check-circle"></i><span class="menu-title" data-i18n="Form Validation">Verification ReclamationOffer</span></a>
                </li>
            </ul>
        </li>
        
        <li class=" navigation-header"><span>Articles Management</span>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-list"></i><span class="menu-title" data-i18n="Charts">CRUD</span><span class="badge badge badge-pill badge-success float-right mr-2">List</span></a>
            <ul class="menu-content">
                <li><a href="chart-apex.html"><i class="feather icon-plus-circle"></i><span class="menu-item" data-i18n="Apex">Add Article</span></a>
                </li>
                <li><a href="javascript(void);"><i class="feather icon-refresh-ccw"></i><span class="menu-item" data-i18n="Chartjs">Update Article</span></a>
                </li>
                <li><a href="javascript(void);"><i class="feather icon-trash"></i><span class="menu-item" data-i18n="Echarts">Delete Article</span></a>
                </li>
            </ul>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Charts">Features</span><span class="badge badge badge-pill badge-warning float-right mr-2">Hot</span></a>
            <ul class="menu-content">
                <li><a href="javascript(void);"><i class="feather icon-thumbs-up"></i><span class="menu-item" data-i18n="Echarts">Like Article</span></a>
                </li>
                <li><a href="javascript(void);"><i class="feather icon-refresh-ccw"></i><span class="menu-item" data-i18n="Echarts">Update like Article</span></a>
                </li>
                <li><a href="javascript(void);"><i class="feather icon-trash"></i><span class="menu-item" data-i18n="Echarts">Delete Like Article</span></a>
                </li>
            </ul>
        </li>
        <li class=" navigation-header"><span>Badges Management</span>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-list"></i><span class="menu-title" data-i18n="Charts">CRUD</span><span class="badge badge badge-pill badge-success float-right mr-2">List</span></a>
            <ul class="menu-content">
                <li><a [routerLink]="['/Dashboard/AddBadges']"><i class="feather icon-plus-circle"></i><span class="menu-item" data-i18n="Apex">Add Badges</span></a>
                </li>
                <li><a [routerLink]="['/Dashboard/Badges']"><i class="feather icon-refresh-ccw"></i><span class="menu-item" data-i18n="Chartjs">Badges</span></a>
                </li>
            </ul>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Charts">Features</span><span class="badge badge badge-pill badge-warning float-right mr-2">Hot</span></a>
            <ul class="menu-content">
                <li class=" nav-item"><a [routerLink]="['/Dashboard/UserBadges']"><i class="feather icon-terminal"></i><span class="menu-title" >UserBadges</span></a>
                </li>
               
                <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-tag"></i><span class="menu-title" >Coupon</span></a>
                </li>
            </ul>
        </li>
        <li class=" navigation-header"><span>Comments Management</span>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-list"></i><span class="menu-title" data-i18n="Charts">CRUD</span><span class="badge badge badge-pill badge-success float-right mr-2">List</span></a>
            <ul class="menu-content">
                <li><a href="chart-apex.html"><i class="feather icon-plus-circle"></i><span class="menu-item" data-i18n="Apex">Add Comment Article</span></a>
                </li>
                <li><a href="chart-apex.html"><i class="feather icon-plus-circle"></i><span class="menu-item" data-i18n="Apex">Add Comment Post</span></a>
                </li>
                <li><a href="javascript(void);"><i class="feather icon-refresh-ccw"></i><span class="menu-item" data-i18n="Chartjs">Update Comment in Article</span></a>
                </li>
                <li><a href="javascript(void);"><i class="feather icon-refresh-ccw"></i><span class="menu-item" data-i18n="Chartjs">Update Comment in Post</span></a>
                </li>
                <li><a href="javascript(void);"><i class="feather icon-trash"></i><span class="menu-item" data-i18n="Echarts">Delete Comment</span></a>
                </li>
            </ul>
        </li>
        <li class=" navigation-header"><span>Events Management</span>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-list"></i><span class="menu-title" data-i18n="Charts">CRUD</span><span class="badge badge badge-pill badge-success float-right mr-2">List</span></a>
            <ul class="menu-content">
                <li><a [routerLink]="['/Dashboard/AddEvent']"><i class="feather icon-plus-circle"></i><span class="menu-item" data-i18n="Apex">Add Event</span></a>
                </li>
                <li ><a href="javascript(void);" [routerLink]="['/Dashboard/UpdateEventList']"><i class="feather icon-refresh-ccw"></i><span class="menu-item" data-i18n="Chartjs">Update Event</span></a>
                </li>
            </ul>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Charts">Features</span><span class="badge badge badge-pill badge-warning float-right mr-2">Hot</span></a>
            <ul class="menu-content">
                <li class=" nav-item"><a [routerLink]="['/Dashboard/UserEvents']"><i class="feather icon-plus-square"></i><span class="menu-item" data-i18n="Apex">UserEvents</span></a>
                </li>
                <li class=" nav-item"><a [routerLink]="['/Dashboard/UserLikes']"><i class="feather icon-heart"></i><span class="menu-title" data-i18n="Form Wizard">UserLikes</span></a>
                </li>
                <li class=" nav-item"><a href="form-wizard.html"><i class="feather icon-share-2"></i><span class="menu-title" data-i18n="Form Wizard">Send Rewards</span></a>
                </li>
            </ul>
        </li>
        
        <li class=" navigation-header"><span>Posts Management</span>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-list"></i><span class="menu-title" data-i18n="Charts">CRUD</span><span class="badge badge badge-pill badge-success float-right mr-2">List</span></a>
            <ul class="menu-content">
                <li><a href="chart-apex.html"><i class="feather icon-plus-circle"></i><span class="menu-item" data-i18n="Apex">Add Post</span></a>
                </li>
                <li><a href="javascript(void);"><i class="feather icon-refresh-ccw"></i><span class="menu-item" data-i18n="Chartjs">Update Post</span></a>
                </li>
                <li><a href="javascript(void);"><i class="feather icon-trash"></i><span class="menu-item" data-i18n="Echarts">Delete Post</span></a>
                </li>
            </ul>
        </li>
        <li class=" nav-item"><a href="javascript:void(0);"><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Charts">Features</span><span class="badge badge badge-pill badge-warning float-right mr-2">Hot</span></a>
        <ul class="menu-content">    
        <li class=" nav-item"><a href="form-wizard.html"><i class="feather icon-heart"></i><span class="menu-title" data-i18n="Form Wizard">Like Post</span></a>
        </li>
        <li class=" nav-item"><a href="form-wizard.html"><i class="feather icon-heart"></i><span class="menu-title" data-i18n="Form Wizard">Liked Posts</span></a>
        </li>
            </ul>
        </li>
        <li class=" navigation-header"><span>Surveys Management</span>
        </li>
        <li class=" nav-item" [routerLink]="['/Dashboard/addsurvey']"><a href="javascript:void(0);"><i class="feather icon-list"></i><span class="menu-title" data-i18n="Charts"> Add Survey</span><span class="badge badge badge-pill badge-success float-right mr-2">List</span></a>
            <ul class="menu-content">   
            </ul>
        </li>
        <li class=" nav-item" [routerLink]="['/Dashboard/affichesurvey']"><a href="javascript:void(0);"><i class="feather icon-list"></i><span class="menu-title" data-i18n="Charts"> Afficher Survey</span><span class="badge badge badge-pill badge-success float-right mr-2">List</span></a>
            <ul class="menu-content">   
            </ul>
        </li>
        <li class=" navigation-header"><span>Reviews Management</span>
        </li>
        <li class=" nav-item" [routerLink]="['/Dashboard/afficherreview']"><a href="javascript:void(0);"><i class="feather icon-list"></i><span class="menu-title" data-i18n="Charts"> AfficheReview</span><span class="badge badge badge-pill badge-success float-right mr-2">List</span></a>
            <ul class="menu-content">   
            </ul>
        </li>

        
        
        
        
        
        
    </ul>
</div>