<app-nav></app-nav>
  <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
        <div class="content-header row">
        </div>
            <div>
                <div class="top_part">
                        <h2>Users's Badges List</h2>
                    <div class="filter_part">
                        <div class="filter_caat">
                            <!--[(ngModel)]="searchText" -->
                            <input
                            type="text"
                            class="form-control"
                            placeholder="Search..."
                            [(ngModel)]="filterTerm"
                          /> 
                        </div>
                        <button class="btn btn btn-outline-danger mr-2" (click)="Show(!show)">Affect Event </button>
<div *ngIf="show" class="select">
    <div class="row">
        
 
        <a *ngFor="let x of listevents| filter: filterTerm;" ><b (click)="SelectEvent(x.id)">{{x.title}} </b></a>
   
    <button class="btn btn-outline-danger mr-2" (click)="Affect()"><i class="feather icon-check-circle d-flex justify-content-center"></i></button>
    </div>
</div>
                    </div>
                    
                </div>
            
                <div class="table-wrapper">
                    <table class="fl-table">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">DateStart</th>
                                <th scope="col">DateEnd</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div *ngIf="showLoader"><!-- so this div containing img will be dislpayed only when the showLoader is equal to true-->
                                <div class='body' style="background-color: #1fb79b;">
                                    <span>
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                    </span>
                                    <div class='base'>
                                      <span></span>
                                      <div class='face'></div>
                                    </div>
                                  </div>
                                  <div class='longfazers'>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                  </div>
                                  <h1>Loading Events</h1>
                                  
                            </div>
                           
                            <tr *ngFor="let o of listuserevents | paginate: { itemsPerPage: 4, currentPage: pages } | filter:filterTerm">
                                <!--| filter:searchText-->
                                <td>
                                    {{o.title}}
                                </td>
                                <td>
                                    {{o.dateStart}}
                                </td>
                                <td>
                                    {{o.dateEnd}}
                                </td>
                                <td>
                                <button class="btn btn-outline-danger mr-2" (click)="delete(o.id)"><i class="feather icon-trash d-flex justify-content-center"></i></button>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                
                <pagination-controls (pageChange)="pages = $event" style="text-align: center;padding: 10px;border: 1px solid black;padding: 10px;">
                </pagination-controls>

</div>

