<section class="elementor-section elementor-top-section elementor-element elementor-element-5d827b8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5d827b8" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2478b7d animated fadeInUp" data-id="2478b7d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:400}">
<div class="elementor-column-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-721d9f3 elementor-widget elementor-widget-text-editor" data-id="721d9f3" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
<p>Our proud</p>					</div>
</div>
</div>
<div class="elementor-element elementor-element-f21a666 elementor-widget elementor-widget-heading" data-id="f21a666" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">some positivity in your management of change!</h2>		</div>
</div>
<div class="elementor-element elementor-element-a0b50fd elementor-widget elementor-widget-text-editor" data-id="a0b50fd" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
<p>workmood is a creative consulting and training agency that helps you succeed in your human projects by making them positive and engaging</p>					</div>
</div>
</div>
<div class="elementor-element elementor-element-b176c65 elementor-align-left elementor-widget elementor-widget-button" data-id="b176c65" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a href="#" class="elementor-button-link elementor-button elementor-size-md" role="button">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-right">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </span>
<span class="elementor-button-text">work with us</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-bab89d0 animated fadeInUp" data-id="bab89d0" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:450}">
<div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-513376d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="513376d" data-element_type="section">
<div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-32033cb" data-id="32033cb" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-c19d459 elementor-widget elementor-widget-buildbench-funfact" data-id="c19d459" data-element_type="widget" data-widget_type="buildbench-funfact.default">
<div class="elementor-widget-container">

<div class="funfact-item-style funfact-item">
<div class="funfact-item-list">   
<div class="single-funfact icon-left">
<i aria-hidden="true" class="fa fa-Funfacts-3"></i>            <h3 class="funfact-title" data-counter="512"> 512             <sup> + </sup>
</h3>
<p>Successfully Project Finished.</p>
</div>
</div>   
</div> 

</div>
</div>
<div class="elementor-element elementor-element-0034f05 elementor-widget elementor-widget-buildbench-funfact" data-id="0034f05" data-element_type="widget" data-widget_type="buildbench-funfact.default">
<div class="elementor-widget-container">

<div class="funfact-item-style funfact-item">
<div class="funfact-item-list">   
<div class="single-funfact icon-left">
<i aria-hidden="true" class="fa fa-Funfacts-3"></i>            <h3 class="funfact-title" data-counter="1120"> 1120             <sup> + </sup>
</h3>
<p>revenue in 2017
investment</p>
</div>
</div>   
</div> 

</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3d41b2b" data-id="3d41b2b" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-a1dca14 elementor-widget elementor-widget-buildbench-funfact" data-id="a1dca14" data-element_type="widget" data-widget_type="buildbench-funfact.default">
<div class="elementor-widget-container">

<div class="funfact-item-style funfact-item">
<div class="funfact-item-list">   
<div class="single-funfact icon-left">
<i aria-hidden="true" class="fa fa-Funfacts-3"></i>            <h3 class="funfact-title" data-counter="25"> 25             <sup> + </sup>
</h3>
<p>Years of experience
with proud</p>
</div>
</div>   
</div> 

</div>
</div>
<div class="elementor-element elementor-element-b6479d9 elementor-widget elementor-widget-buildbench-funfact" data-id="b6479d9" data-element_type="widget" data-widget_type="buildbench-funfact.default">
<div class="elementor-widget-container">

<div class="funfact-item-style funfact-item">
<div class="funfact-item-list">   
<div class="single-funfact icon-left">
<i aria-hidden="true" class="fa fa-Funfacts-3"></i>            <h3 class="funfact-title" data-counter="1520"> 1520             <sup> + </sup>
</h3>
<p>Colleagues &amp; counting
more daily</p>
</div>
</div>   
</div> 

</div>
</div>
</div>
</div>
</div>
        </div>
</div>
</section>
</div>
</div>
</div>
        </div>
</div>
</section>