<section class="elementor-section elementor-top-section elementor-element elementor-element-f3d4553 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f3d4553" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d3c3779" data-id="d3c3779" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-a7415b1 elementor-widget elementor-widget-text-editor" data-id="a7415b1" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <div class="elementor-text-editor elementor-clearfix">
<p>Our Services</p>					</div>
    </div>
</div>
<div class="elementor-element elementor-element-a5f2b28 elementor-widget elementor-widget-heading" data-id="a5f2b28" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-xl">Quality Services</h2>		</div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-1dab988 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1dab988" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-344ec3c" data-id="344ec3c" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-f4780d0 elementor-widget elementor-widget-buildbench-service animated fadeInUp" data-id="f4780d0" data-element_type="widget" data-settings="{&quot;_animation_delay&quot;:300,&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="buildbench-service.default">
<div class="elementor-widget-container">
                               <div class="ts-service">
 <div class="ts-service-box ">
                                                 <div class="srevice-img">
                <img class="img-fluid" src="/assets/service3.jpg">
                </div>
                                                 <div class="ts-service-box-img pull-left">
                                                                                           <img src="/assets/service2.png">
                 
                </div>
                <div class="ts-service-box-info">
                   <h3 class="ts-title"><a href="https://demo.themewinter.com/wp/buildbench/blog/service/land-minning/">Land Minning</a></h3>
                   <p>Benefit of the socie where we oper ate success for the website</p>
             </div>
 </div><!-- Service 2 end -->
</div>
        
</div>
</div>
<div class="elementor-element elementor-element-b6d9d4e elementor-widget elementor-widget-buildbench-service animated fadeInUp" data-id="b6d9d4e" data-element_type="widget" data-settings="{&quot;_animation_delay&quot;:450,&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="buildbench-service.default">
<div class="elementor-widget-container">
                               <div class="ts-service">
 <div class="ts-service-box ">
                                                 <div class="srevice-img">
                <img class="img-fluid" src="/assets/services6.jpg">
                </div>
                                                 <div class="ts-service-box-img pull-left">
                                                                                           <img src="/assets/service6.png">
                 
                </div>
                <div class="ts-service-box-info">
                   <h3 class="ts-title"><a href="https://demo.themewinter.com/wp/buildbench/blog/service/consultancy/">Consultancy</a></h3>
                   <p>Benefit of the socie where we oper ate success for the website</p>
             </div>
 </div><!-- Service 2 end -->
</div>
        
</div>
</div>
    </div>
</div>
</div>
<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-d290fca" data-id="d290fca" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-6af75e3 elementor-widget elementor-widget-buildbench-service animated fadeInUp" data-id="6af75e3" data-element_type="widget" data-settings="{&quot;_animation_delay&quot;:350,&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="buildbench-service.default">
<div class="elementor-widget-container">
                               <div class="ts-service">
 <div class="ts-service-box ">
                                                 <div class="srevice-img">
                <img class="img-fluid" src="/assets/service1.jpg">
                </div>
                                                 <div class="ts-service-box-img pull-left">
                                                                                           <img src="/assets/service1.png">
                 
                </div>
                <div class="ts-service-box-info">
                   <h3 class="ts-title"><a href="https://demo.themewinter.com/wp/buildbench/blog/service/building-staffs/">Building Staffs</a></h3>
                   <p>Benefit of the socie where we oper ate success for the website</p>
             </div>
 </div><!-- Service 2 end -->
</div>
        
</div>
</div>
<div class="elementor-element elementor-element-0bb3252 elementor-widget elementor-widget-buildbench-service animated fadeInUp" data-id="0bb3252" data-element_type="widget" data-settings="{&quot;_animation_delay&quot;:500,&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="buildbench-service.default">
<div class="elementor-widget-container">
                               <div class="ts-service">
 <div class="ts-service-box ">
                                                 <div class="srevice-img">
                <img class="img-fluid" src="/assets/service4.jpg">
                </div>
                                                 <div class="ts-service-box-img pull-left">
                                                                                           <img src="/assets/service5.png">
                 
                </div>
                <div class="ts-service-box-info">
                   <h3 class="ts-title"><a href="https://demo.themewinter.com/wp/buildbench/blog/service/crane-service/">Crane Service</a></h3>
                   <p>Benefit of the socie where we oper ate success for the website</p>
             </div>
 </div><!-- Service 2 end -->
</div>
        
</div>
</div>
    </div>
</div>
</div>
<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-436f334" data-id="436f334" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-b64c169 element-service-item elementor-widget elementor-widget-buildbench-service animated fadeInUp" data-id="b64c169" data-element_type="widget" data-settings="{&quot;_animation_delay&quot;:400,&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="buildbench-service.default">
<div class="elementor-widget-container">
                               <div class="ts-service">
 <div class="ts-service-box ">
                                                 <div class="srevice-img">
                <img class="img-fluid" src="/assets/service2.jpg">
                </div>
                                                 <div class="ts-service-box-img pull-left">
                                                                                           <img src="/assets/service4.png">
                 
                </div>
                <div class="ts-service-box-info">
                   <h3 class="ts-title"><a href="https://demo.themewinter.com/wp/buildbench/blog/service/material-supply/">Material Supply</a></h3>
                   <p>Benefit of the socie where we oper ate success for the website</p>
             </div>
 </div><!-- Service 2 end -->
</div>
        
</div>
</div>
<div class="elementor-element elementor-element-02f786c element-service-item elementor-widget elementor-widget-buildbench-service animated fadeInUp" data-id="02f786c" data-element_type="widget" data-settings="{&quot;_animation_delay&quot;:600,&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="buildbench-service.default">
<div class="elementor-widget-container">
                               <div class="ts-service">
 <div class="ts-service-box ">
                                                 <div class="srevice-img">
                <img class="img-fluid" src="/assets/service5.jpg">
                </div>
                                                 <div class="ts-service-box-img pull-left">
                                                                                           <img src="/assets/service3.png">
                 
                </div>
                <div class="ts-service-box-info">
                   <h3 class="ts-title"><a href="https://demo.themewinter.com/wp/buildbench/blog/service/architecture/">Architecture</a></h3>
                   <p>Benefit of the socie where we oper ate success for the website</p>
             </div>
 </div><!-- Service 2 end -->
</div>
        
</div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>