<p>add-offer works!</p>
<form #f="ngForm">
    <label>Title</label>
    <input type="text" name="title" ngModel/> 

    <label>Description</label>
    <input type="text" name="description" ngModel/>

    <label>DateExp</label>
    <input type="date" name="dateExp" ngModel/>

    <label>Category</label>
    <select id="key" name="key" [(ngModel)]="selected">
        <option *ngFor="let key of keys" [value]="key" > 
            {{categoryOfferEnum[key]}} 
        </option>
    </select> 

    <label>Image</label>
    <input type="text" name="image" ngModel/>

    <label>Point</label>
    <input type="number" name="point" ngModel/>

    <label>Adress</label>
    <input type="text" name="address" ngModel/>

    <label>LimitedNumber</label>
    <input type="number" name="limitedNumber" ngModel/>

    <label>PersonsNumber</label>
    <input type="number" name="personsNumber" ngModel/>

    <input type="submit" value="save" (click)="save(f.value)"/> 
</form>
