
<html>
	
	<body>

		

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to Review</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-bug"></span>
							<h3>Be Free</h3>
							<p>Feel free to update your review if needed <br>Check the dates of the reviews. </p>
						</div>

                        <div>
							<span class="icon fa-bug"></span>
							<h3>Received Review</h3>
							<p>Read as many reviews as possible</p>
						</div>

						<div>
							<span class="icon fa-bug"></span>
							<h3> negative&anonymous </h3>
							<p> Some people leave a review or feedback <br>to provide what they want to say </p>
						</div>
                        
						

					</div>

					<footer style="">
						<a href="#" class="button" [routerLink]="['/choiceadd']">Add review </a>
                        <p style="justify-content: center;margin: auto 0;">Or</p>
                        <a href="#" class="button" [routerLink]="['/afficherreviewbyuser']">Show reviews</a>
					</footer>
				</div>
			</section>


		

		

	</body>
</html>