<app-head></app-head>
<app-header></app-header>

<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
	</head>
	<body>

		

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to have to choice!</h1>
					</header>

					<!-- <div class="flex ">

						<div>
							<span class="icon fa-car"></span>
							<h3>Aliquam</h3>
							<p>Suspendisse amet ullamco</p>
						</div>

						<div>
							<span class="icon fa-camera"></span>
							<h3>Elementum</h3>
							<p>Class aptent taciti ad litora</p>
						</div>

						<div>
							<span class="icon fa-bug"></span>
							<h3>Ultrices</h3>
							<p>Nulla vitae mauris non felis</p>
						</div>

					</div>

					<footer>
						<a href="#" class="button">Get Started</a>
					</footer> -->
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article  style="    display: flex;
                        flex-direction: column;
                        align-items: center;">
							<div class="image rounde" style=" border-radius: 50%; display: block; ">
								<img src="../../../../assets/empl.jpg" alt="Pic 01" style="width: 200px;border-radius: 50%;margin-left:16px"/>
							</div>
							<header>
								<h3>select to add review<br />  for Employee</h3>
							</header>
							<p>Be critical of negative and anonymous reviews. <br />you communicate your ideas and vision clearly <br />so others can understand it easily and quickly</p>
							<footer>
								<a href="#" class="button" [routerLink]="['/AddreviewEmpl']">AddreviewEmpl</a>
							</footer>
						</article>
						<article>
							<div class="image rounde" style=" border-radius: 50%; display: block; width: 200px;">
								<img src="../../../../assets/company.jpg" alt="Pic 02" style="width: 200px;border-radius: 50%;margin-left:190px"/>
							</div>
							<header>
								<h3>select to add review<br /> for Company</h3>
							</header>
							<p>Take a second to Provide essential information<br />Some people leave a review or feedback <br /> when they have something to complain about.</p>
							<footer>
								<a href="#" class="button" [routerLink]="['/AddreviewCompany']">AddreviewComp</a>
							</footer>
						</article>
					</div>
				</div>
			</section>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
<app-footer></app-footer>
<app-scripts></app-scripts>