<app-nav></app-nav>
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <link rel="stylesheet" type="text/css" href="/assets/app-assets/css/pages/knowledge-base.css">
            <section id="knowledge-base-search">
                <div class="row">
                    <div class="col-12">
                        <div class="card knowledge-base-bg white" >
                            <div class="card-content">
                                <div class="card-body p-sm-4 p-2">
                                    <h1 class="white">Welcome to The Administration Dashboard</h1>
                                    <p class="card-text mb-2">
                                        You can find below the Avariable Sections that you can control.
                                    </p>
                                    <form>
                                        <fieldset class="form-group position-relative has-icon-left mb-0">
                                            <input type="text" class="form-control form-control-lg" id="searchbar" placeholder="Search Topic or Keyword">
                                            <div class="form-control-position">
                                                <i class="feather icon-search px-1"></i>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="knowledge-base-content">
                <div class="row search-content-info">
                    <div class="col-md-4 col-sm-6 col-12 search-content">
                        <div class="card">
                            <div class="card-body text-center">
                                <a >
                                    <img src="/assets/app-assets/images/pages/reset-password.png" class="mx-auto mb-2" alt="knowledge-base-image" width="180" height="180">
                                    <h4>USER MANAGEMENT</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 search-content">
                        <div class="card">
                            <div class="card-body text-center">
                                <a >
                                    <img src="/assets/app-assets/images/pages/login.png" class="mx-auto mb-2" alt="knowledge-base-image" width="180"  height="180">
                                    <h4>OFFERS MANAGEMENT</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 search-content">
                        <div class="card">
                            <div class="card-body text-center">
                                <a >
                                    <img src="/assets/app-assets/images/pages/graphic-3.png" class="mx-auto mb-2" alt="knowledge-base-image" width="180"  height="180">
                                    <h4>MARKETING BI</h4>
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 search-content">
                        <div class="card">
                            <div class="card-body text-center">
                                <a >
                                    <img src="/assets/app-assets/images/pages/graphic-4.png" class="mx-auto mb-2" alt="knowledge-base-image" width="180"  height="180">
                                    <h4>RECLAMATION MANAGEMENT</h4>
                                   
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 search-content">
                        <div class="card">
                            <div class="card-body text-center">
                                <a >
                                    <img src="/assets/app-assets/images/pages/graphic-5.png" class="mx-auto mb-2" alt="knowledge-base-image" width="180"  height="180">
                                    <h4>ARTICLE MANAGEMENT</h4>
                                    <small class="text-dark">Gummi bears pudding icing sweet caramels chocolate.Muffin croissant</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 search-content">
                        <div class="card">
                            <div class="card-body text-center">
                                <a >
                                    <img src="/assets/app-assets/images/pages/graphic-6.png" class="mx-auto mb-2" alt="knowledge-base-image" width="180"  height="180">
                                    <h4>BADGES MANAGEMENT</h4>
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 search-content">
                        <div class="card">
                            <div class="card-body text-center">
                                <a >
                                    <img src="/assets/app-assets/images/pages/lock-screen.png" class="mx-auto mb-2" alt="knowledge-base-image" width="180"  height="180">
                                    <h4>EVENTS MANAGEMENT</h4>
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 search-content">
                        <div class="card">
                            <div class="card-body text-center">
                                <a >
                                    <img src="/assets/app-assets/images/pages/graphic-1.png" class="mx-auto mb-2" alt="knowledge-base-image" width="180"  height="180">
                                    <h4>POSTS MANAGEMENT</h4>
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 search-content">
                        <div class="card">
                            <div class="card-body text-center">
                                <a >
                                    <img src="/assets/app-assets/images/pages/maintenance-2.png" class="mx-auto mb-2" alt="knowledge-base-image" width="180"  height="180">
                                    <h4>COMMENTS MANAGEMENT</h4>
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 search-content">
                        <div class="card">
                            <div class="card-body text-center">
                                <a >
                                    <img src="/assets/app-assets/images/pages/not-authorized.png" [routerLink]="['/Dashboard/afficherreview']" class="mx-auto mb-2" alt="knowledge-base-image" width="180" height="180">
                                    <h4>REVIEWS MANAGEMENT</h4>
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 search-content">
                        <div class="card">
                            <div class="card-body text-center">
                                <a >
                                    <img src="/assets/app-assets/images/pages/forgot-password.png" [routerLink]="['/Dashboard/affichesurvey']" class="mx-auto mb-2" alt="knowledge-base-image" width="180"  height="180">
                                    <h4>SURVEY MANAGEMENT</h4>
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 search-content">
                        <div class="card">
                            <div class="card-body text-center">
                                <a >
                                    <img src="/assets/app-assets/images/pages/maintenance.png" class="mx-auto mb-2" alt="knowledge-base-image" width="180"  height="180">
                                    <h4>STATISTIQUES</h4>
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>
</div>
</div>
